$background-color: #ffffff;
$text-color: #58a0a8;

.menu-content {

  &__link-wrapper {
    text-align: center;
    line-height: 75px;

    border-radius: 10px;

    background-color: $background-color;
  }

  &__link {
    text-decoration: none;

    font-family: Tahoma, serif;
    font-size: 24px;
    font-weight: 600;
    color: $text-color;
  }
}